<div class="row w-md-25 border p-4 mt-3 mx-auto">
  <div class="col">

    <div class="row">
      <div class="col text-center">
        <h1>Contador</h1>
        <h2 class="contador mx-auto p-2 bg-dark border rounded-3 font-monospace text-white">
          {{ contador }}
        </h2>
      </div>
    </div>

    <div class="row text-center mt-2">
      <div class="col">
        <button class="btn btn-sm btn-primary me-2" (click)="aumentar()">Aumentar</button>
        <button class="btn btn-sm btn-secondary" (click)="disminuir()">Disminuir</button>
      </div>
    </div>


  </div>
</div>

<!-- HIJO -->

<div class="row w-md-25 border p-4 mt-3 mx-auto">
  <div class="col text-center">

    <app-hijo></app-hijo>
    <!-- <app-hijo [contador]="contador" (cambioContador)="contador = $event"></app-hijo> -->

  </div>
</div>
